<h3 style="font-family: 'Comic Sans MS', 'Comic Sans', cursive;">{{ mealDetails.strMeal }}</h3>
<ul>
  <li>{{ mealDetails.strCategory }}</li>
  <li>{{ mealDetails.strArea }}</li>
</ul>

<img src="{{ mealDetails.strMealThumb }}">
<p>
  {{ mealDetails.strInstructions }}
</p>
