<h3 style="font-family: 'Comic Sans MS', 'Comic Sans', cursive;">{{ mealDetails.strMeal }}</h3>
<ul>
  <li>{{ mealDetails.strCategory }}</li>
  <li>{{ mealDetails.strArea }}</li>
</ul>

<img src="{{ mealDetails.strMealThumb }}">
<p>
  {% set instructions = mealDetails.strInstructions|split('.') %}
  <ol>
    {% for instruction in instructions %}
      <li>{{ instruction }}</li>
    {% endfor %}
  </ol>
</p>
